@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@500&display=swap');

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   /* font-family: 'Lato', sans-serif; */
   font-family: 'Poppins', sans-serif;
 
}
#navbar{
   position:sticky;
   top:0;
   left:0;
   z-index: 100;
   padding: .5rem 5rem;
   box-shadow: 5px 5px 20px rgba(0, 0,0,0.5);
  background-color: black;
   
}
/* descendend selector */
.navbar .navbar-brand{
   font-size: 25px;
   font-weight: 200;
   color:rgb(28, 232, 28) !important;
}
#navbarSupportedContent a{
   color:#ffff;
    border-bottom: 2px solid transparent; 
}
#navbarSupportedContent a:hover{
   border-bottom:2px solid rgba(0, 128, 0, 0.883);
}
#navbarSupportedContent button{
   color:white;
   font-size: 15px;
   border:1px solid black;
   background-color: blue;
   border-radius: 8px;
}
section{
   width:100%;
   min-height:100vh;
   display: flex;
   justify-content: center;
   text-align: center;


}
#home{
   background-image: url("../img/spices-8346144_1280.webp");
   /* background: linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.4)); */
   background-repeat: no-repeat;
   background-size: cover;
   flex-direction: column;
}
#home h1{
   font-size:100px;
   font-weight: bolder;
   color:white;
   /* margin-top: 80px; */
   margin-left: 50px;
   text-shadow: 5px 7px 10px #fff;
   text-align: center;

}
#home .input
{
   width:40%;
   height:45%;
   margin-left: 450px;
   text-align: center;
} 
.signin
{ 
   background-color: aqua !important;
   margin-top: 20px;
   color:white;

}

/* about */
/* #about {
  background-position: left center;
  margin:150px;
  
} */
#about{
  /* position:relative;
  top:50px; */
  text-align: center;
  background:linear-gradient(to right, #ea1d6f ,#eb466b 100%);
}
#about h1{
  font-weight: 800;
  font-size:40px;
  /* margin-top:100px; */
  text-wrap: 50px;
}
#imge{
  margin-top:150px;
}
#product{
  display: grid;
  grid-column: 300px;
  background-color:bisque;
}
.card{
  background-color:#e5e5e5 !important;
 border:none !important;
  box-shadow:15px 20px 20px rgba(0,0,0,.5),
             inset 4px 4px 10px white;
  border-radius: 20px !important;
  overflow:hidden;
  justify-content: center;
  align-items:center;
  margin:20px 60px;
}
.card:hover{
  box-shadow:inset 5px 5px 20px rgba(0,0,0,.3),
             inset -4px -4px 10px white;
             transition: .2s;
}

#contact img{
  height:100%;

}
.box{
  width:80% !important;
  /* background: #ea1d6f; */
  margin-top:100px;
}
form{
  display:flex;
  flex-direction:column;
}
#contact input{
        margin:10px 0px;
}
#contact textarea{
  margin:10px 0px;
}
footer{
  width:100%;
  height:30px;
  background: rgba(0,0,0,0.8);
  margin-top:-50px;
  text-align:center;
  color:white;
  padding:3px;
}